<body>
<header class="nav">
  <div class="nav-left">
      <span class="nav-item">
          <span class="fa fa-flag">ポートフォリオ</span>
      </span>
  </div>
  <div class="nav-right">
    <span class="nav-item">
      <div class="control has-addons">
        <input class="input" type="search" name="search" placeholder="キーワード検索">
        <a class="button is-info"><i class="fa fa-search"></i>検索</a>
      </div>
    </span>
    <%# <span class="nav-item">
      <a href="#" class="fa fa-user">ログイン</a>
    </span> %>
  </div>
</header>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        MY PROFILE
      </h1>
          <ul class="menu">
            
              <li class="menu-item3">
                <i class="fa fa-comment">
                <a href="#b">Profile</a></i>
              </li>
              <li class="menu-item4">
                <i class="fa fa-bus">
                <a href="#c">My Skill</a></i>
              </li>
              <li class="menu-item2">
                <i class="fa fa-cube">
                  <a href="#a">App</a></i>
              </li>
              <li class="menu-item1">
                <p><img src="assets/gazou/qiita-favicon.png" width="20" height="20">
                <a href="https://qiita.com/trade_factory" >Qiita</a></p>
              </li>
              <li class="menu-item5">
                <p><img src="assets/gazou/37318.png" width="20" height="20">
                <a href="https://github.com/hakase1983">GitHub</a></p>
              </li>
          </ul>
        </div>
    </div>
  </div>
</section>
<div class="first-content">
  <img src="assets/gazou/e8c30845d7cd17ea7c0f9637de9cec0c_s.jpg" width="100%" height="450" >
</div>
<div class=second-content id="b">
<h2 class="title">
  Profile
</h2>
<ul class="main-box">
  <li class="left-box">
    <img src="assets/gazou/golf_jou_man.png" width="400" height="300" >
  </li>
  <li class="right-box"  style="text-align:left;">
    はじめまして　村上　雄一(ムラカミ　ユウイチ)と申します。<br>
    ３０代からプログラミングスクール通い、勉強開始しました。<br>
    最初はチンプンカンプンだったプログラミングも少しずつ復習<br>
    する中で、理解が深まりました。<br>
    現在では「Qiita」に記事を投稿するなど、発信にも力を入れ<br>
    ています。<br>
    <br>
    趣味：ゴルフ
    </li>
</ul>
</div>
<div class="third-content" id="c">
<h2 class="title">
  My Skill
</h2>
<div class="description">
HTML・CSS・Ruby・Ruby on Rails・<br>
JavaScript・jQuery・SQL・Git・ GitHub<br>
Haml・SCSS・AWS　等の技術を用いたアプリケーション開発 
</div>
</div>
<div class="fourth-content" id="a">
<h2 class="title">
  App
</h2>
<ul class="App" >
  <li class="App1">
    <img src="assets/gazou/e1a4c3024a41f9fbed996d5829ec8662.png" width="400" height="200" >
    <a class="button1" href="http://3.114.120.201/users/sign_in" style="background-color: #1abc9c;">Chat Space</a>
  </li>
  <li class="App2">
    <img src="assets/gazou/kG2LGdtEwjz9gkw1571315138_1571315145.png" width="400" height="200" >
    <a class="button1" href="http://3.113.105.129" style="background-color: #1abc9c;">Free Market</a>
  </li>
  <li class="App3">
    <img src="assets/gazou/ojigi_animal_neko.png" width="400" height="200" >
    <a class="button2" href=""><span>工事中</span><span>（仮）内定への道</span></a>
  </li>
</ul>
</div>
<div class="footer-menu">
  <p class="copyright">Copyright (c) 2019 Yuuichi Murakami All Rights Reserved.</p>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
<div id="page_top"><a href="#"></a></div>

</body>
